section {

    display: grid;

    .card {
        box-sizing: border-box;
        border: 1px solid #212936;
        height: 36rem;
        padding: 1.5rem;
        background-color: #212936;
        border-radius: 1rem;

        img {
            width: 100%;
            border-radius: 1rem;
        }

        h3 {
            margin-top: 1rem;
        }

        p {
            margin-top: .5rem;
        }

        #loading {
            margin-top: 3rem;
            height: .3rem;
            border-radius: 1rem;
            align-items: center;

            input[type=range] {
                width: 100%;
                height: .3em;
                margin-bottom: -1rem;
            }

            input[type="range"] {
                -webkit-appearance: none;
                width: 100%;
                border-radius: 3px;
                outline: none;
            }

            input[type=range]::-webkit-slider-thumb {
                -webkit-appearance: none;
                width: 0;
                height: 0;
            }

            input[type=range]::-moz-range-thumb {
                width: 0;
                height: 0;
            }

            .time {
                color: #4D5562;
                font-size: .625rem;
                display: flex;
                position: relative;
                bottom: 1.9rem;
                justify-content: space-between;
            }
        }

        .buttons {
            display: flex;
            justify-content: center;
            margin-top: 2rem;
            gap: 1rem;
            align-items: center;

            button {
                cursor: pointer;
                background-color: transparent;
                border: transparent;
            }

            #btnpause {
                background-color: #C93B76;
                border-radius: 50%;
                height: 3rem;
                width: 3rem;
            }

            button:hover {
                scale: 1.1;
            }
        }
    }


}